.badge {
    padding: 3px 8px;
    background-color: #F3F4F6;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    display: inline-block;
    width: fit-content;
}
.default {
    color: #6B7280;
}
.vip {
    background-color: #FEF3C7;
    color: #D97706;
}
.empty {
    background-color: #FEE2E2;
    color: #DC2626;
}