.button {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: #F3F4F6;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
/* primary */
.primary {
    background-color: #2563EB;
    color: white;
}
.primary:disabled {
    opacity: 50%;
}
.primary:hover {
    background-color: #1D4ED8;
}
/* danger */
.danger {
    background-color: white;
    border: 1px solid #DC2626;
    color: #DC2626;
}
.danger:disabled {
    opacity: 50%;
}
.danger:hover {
    background-color: #FEE2E2;
    border: 1px solid #DC2626;
    color: #DC2626;
}
/* success */
.success {
    background-color: #16A34A;
    color: white;
}
.success:disabled {
    opacity: 50%;
}
.success:hover {
    background-color: #15803D;
}
.secondary {
    width: 160px;
    height: 33px;
    background-color: white;
    border-color:#E5E7EB;
    font-weight: 500;
    border: 1px solid #E5E7EB;
    text-align: left;
    padding: 8px 14px;
}
.secondary:hover {
    background-color: #F3F4F6;
}
.secondary:disabled {
    opacity: 50%;
}

