* {
    border : none;
}
.layout {
    width: 360px;
    height: 100vh;
    background-color: #f1f1f1;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header {
    width: 100%;
    border-bottom: #d8d7d7 solid 1px;
    background-color: white;
}
.headerBar {
    display: grid;
    grid-template-columns: 80px 1fr 50px;
    gap: 12px;
    padding: 20px 10px;
    height: 30px;
}
.logo {
    color: #2a46a9;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}
.searchBar {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background-color: white; 
    padding: 10px; 
    outline: none;
}
.searchBar:focus {
    box-sizing: border-box;
    border : 1px solid #2a46a9;
}
.cartIcon {
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: #2a46a9;
    box-sizing: border-box;
    color: white;
    font-size: 0.875rem;
}
.itemSection {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 88px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        /* 사용 방법 . 을 사용하여 class를 쓰는게 아님
           그리드에 배치하고 싶은 클래스에 grid-area: title; 와 같이 속성명 쓰면 됨.
        */
        "thumnail title"
        "thumnail delivery"
        "thumnail price";
    gap: 4px 12px; /* 행 간격, 열 간격*/
}
.thumnail {
    grid-area: thumnail;
    width: 88px;
    height: 88px;
    background-color: #2a46a9;
}
.title {
    font-size: 14px;
    grid-area: title;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 보여줄 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: 2.8em;
}
.delivery {
    grid-area: delivery;
    font-size: 13px;
}
.price {
    grid-area: price;
    font-size: 14px;
}