.container {
  width: 776px;
  min-height: 398px;
  background-color: white;
  border: 1px solid #e5e7eb;
  padding: 24px;
  border-radius: 12px;
  box-sizing: border-box;
}
.titleBox {
  margin-bottom: 16px;
}
.titleBox > span {
  font-size: 12px;
  color: #6b7280;
}
.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}
.section {
  display: flex;
  justify-content: space-between;
}
.tableRowHeader {
  display:grid;
  grid-template-columns: 40px 140px 1fr 160px 90px 80px;
  gap: 12px;
  border-radius: 8px 8px 0 0;
  padding: 10px 16px;
  border: 1px solid #E5E7EB;
  font-weight: 500;
  font-size: 12px;
  color: #6b7280;
  background-color: #F3F4F6;
  text-align: left;
}
.tableRowHeader div:nth-child(4) {
  text-align: right;
}
.tableBody {
  max-height: 235px;
  overflow-y: auto; /* 5개 이상 스크롤 처리 */
}
.tableFooter {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 12px;
}
.totalAccount {
  font-weight: 400;
  color: #6B7280;
}
.vipName {
  font-width: 500;
  color: #D97706;
}