.container {
    height: 64px;
    background-color: white;
    border-bottom: 1px solid #E5E7EB;
    box-sizing: border-box;
}
.innerContainer {
    max-width: 1200px;
    height: 100%;
    display: flex;
    white-space: nowrap; /* flex 요소 때문에 줄어드는 현상을 막아줌 */
    gap: 42px;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;
}
@media (min-width: 1024px) {
    .innerContainer {
        padding: 0 120px;
    }
}
.section {
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    background-color: #2563EB;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.brandTitle {
    font-size: 1.25rem;
    font-weight: 700;
}
.subTitle {
    font-size: 0.875rem;
    color: #6B7280;
}
.today {
    font-size: 0.875rem;
    color: #6B7280;
}
.modeChip {
    font-size: 0.75rem;
    font-weight: 500;
    color: #2563EB;
    background-color: #DBEAFE;
    padding: 6px 12px;
    border-radius: 50px;
}