.container {
    /*max-width: 400px;*/
    /*height: 422px;*/
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background-color: white;
    padding: 24px;
}
.headerSection {
    margin-bottom: 16px;
}
.description {
    font-size: 12px;
    color: #6B7280;
}
.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}
.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.helpText {
    font-size: 12px;
    color: #6B7280;
    display: block;
    margin: 16px 0;
}