.layout {
    width: 360px;
    height: 100vh;
    background-color: #c2bfbf;
    padding: 0 10px;
}
header {
    display: grid;
    grid-template-columns: 80px 1fr 50px;
    gap: 12px;
    padding: 20px 0px;
    height: 30px;
}
.logo {
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}
.searchBar {
    border-radius: 5px;
    border: 0;
}
.cartIcon {
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: #00A1FF;
}
.itemSection {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "thumnail title"
        "thumnail delivery"
        "thumnail price";
;
    gap: 12px;
}
.thumnail {
    grid-area: thumnail;
    width: 80px;
    height: 80px;
    background-color: #1e293b;
}
.title {
    grid-area: title;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 보여줄 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: 2.8em;
}
.delivery {
    grid-area: delivery;
    font-size: 0.875rem;
}
.price {
    grid-area: price;
}