/* 초기화 css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* GLOBAL STYLE */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  color: #111827;
}
.app {
  background-color: #f5f7fa;
  padding-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.layout {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  align-items: start;
}
.layout > * { /* layout의 직계 자식 섹션 */
  /* 브라우저 기본값 auto 를 덮어써서 내용물이 길어도,
  부모 그리드가 줄어들면 0px 이 될 때 무조건 유연하게 따라 줄어듦 */
  /*min-width: 370px;*/
}
@media (min-width: 768px){
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  .container {
    padding: 0 120px;
  }
  .accountFormSection {
    grid-column: 1;
    grid-row: 1;
  }
  .transferFormSection {
    grid-column: 1;
    grid-row: 2;
  }
  .accountTableSection {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
  .historySection {
    grid-column: 2;
    grid-row: 2;
  }
  .notifyLogSection {
    grid-column: 3;
    grid-row: 2;
  }
}